* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    rgba(192, 107, 136, 0.55),
    rgba(255, 218, 230, 0.3)
  );
  margin: 0;
}
h2 {
  color: #b83f59;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 248, 249, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-bottom: 1px solid #f2e2e5;
}

.logo img {
  width: 80px;
  height: auto;
}

/* ===== MENU DESKTOP ===== */
.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #b57b8a;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.05rem;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #d4af37;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: #d4af37;
}

.nav-links a:hover::after {
  width: 100%;
}

/* ===== MENU MOBILE (hambúrguer) ===== */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle span {
  width: 28px;
  height: 3px;
  background-color: #b57b8a;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 1000;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/* Sidebar Menu */
.mobile-menu {
  position: fixed;
  right: -250px;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: rgba(255, 248, 249, 0.9);
  backdrop-filter: blur(10px);
  padding: 120px 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: 0.4s;
  z-index: 1002;
  text-align: right;
}

.mobile-menu a {
  text-decoration: none;
  color: #b57b8a;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.05rem;
  position: relative;
  transition: color 0.3s ease;
}
.mobile-menu a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #d4af37;
  transition: width 0.3s ease;
}

.mobile-menu a:hover {
  color: #d4af37;
}

.menu-mobile a:hover::after {
  width: 100%;
}

/* Quando o menu abre */
.mobile-menu.active {
  right: 0;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Animação do X */
.menu-toggle.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Mostrar apenas no mobile */
@media (max-width: 900px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
  }
}

/* Hero */
.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.8);
}
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.hero-text {
  z-index: 900;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.hero-text h1 {
  font-size: 42px;
  color: #b83f59;
}
.hero-text p {
  font-size: 18px;
  color: #fff;
}
.hero-img {
  width: 420px;
  border-radius: 16px;
  margin-left: 40px;
}

/* Buttons */
.btn-primary {
  background: #ff5e84;
  color: #fff;
  padding: 12px 20px;
  border-radius: 40px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  margin-top: 15px;
}
.btn-secondary {
  background: #ffe3ea;
  color: #b83f59;
  padding: 10px 18px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
}

/* Options section */
.options {
  text-align: center;
  padding: 40px 20px;
}
.cards {
  display: flex;
  gap: 30px;
  justify-content: center;

  margin-top: 30px;
}
.card {
  background: white;
  padding: 18px;
  width: 280px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
}
.card img {
  width: 100%;
  border-radius: 12px;
}

/* Benefits */
.benefits {
  background: #ffeef3;
  padding: 50px 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.benefits h2 {
  color: #ff5e84;
  font-size: 2rem;
}
.benefits ul {
  list-style: none;
  padding: 0;
}

/* Gallery */
.before-after {
  padding: 40px;
  text-align: center;
}
.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.gallery img {
  width: 250px;
  border-radius: 12px;
}

/* CTA */
.cta-final {
  text-align: center;
  padding: 60px 20px;
}
@media screen and (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
