* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    rgba(192, 107, 136, 0.55),
    rgba(255, 218, 230, 0.3)
  );
  margin: 0;
}
h2 {
  color: #b83f59;
  text-transform: uppercase;
}
h3 {
  color: #b83f59;
  text-transform: uppercase;
}

/* Hero */
.hero video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.8);
}
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.hero-text {
  z-index: 900;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.hero-text h1 {
  font-size: 42px;
  color: #b83f59;
}
.hero-text p {
  font-size: 18px;
  color: #fff;
}
.hero-img {
  width: 420px;
  border-radius: 16px;
  margin-left: 40px;
}

/* Buttons */
.btn-primary {
  background: #ff5e84;
  color: #fff;
  padding: 12px 20px;
  border-radius: 40px;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  margin-top: 15px;
}
.btn-secondary {
  background: #ffe3ea;
  color: #b83f59;
  padding: 10px 18px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
}

/* Options section */
.options {
  text-align: center;
  padding: 40px 20px;
}
.cards {
  display: flex;
  gap: 30px;
  justify-content: center;

  margin-top: 30px;
}
.card {
  background: white;
  padding: 18px;
  width: 280px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
}
.card img {
  width: 100%;
  border-radius: 12px;
}

/* Benefits */
.benefits {
  background: #ffeef3;
  padding: 50px 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.benefits h2 {
  color: #ff5e84;
  font-size: 2rem;
}
.benefits ul {
  list-style: none;
  padding: 0;
}

/* Gallery */
.before-after {
  padding: 40px;
  text-align: center;
}
.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.gallery img {
  width: 250px;
  border-radius: 12px;
}

/* CTA */
.cta-final {
  text-align: center;
  padding: 60px 20px;
}
@media screen and (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
    text-shadow: 1px 2px 1px #f9c9d8;
  }
  .hero p {
    font-size: 1rem;
  }
}
.galeria {
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #f9c9d8, #721740);
  padding: 40px 0;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  gap: 20px;
  animation: scroll 30s linear infinite;
  will-change: transform;
}

.slides img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
  user-select: none;
  pointer-events: none;
  opacity: 10; /* imagens totalmente visíveis */
  transition: transform 0.3s ease;
}

.slides:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Tornar arrastável */
.slider {
  cursor: grab;
}
.slider:active {
  cursor: grabbing;
}

::-webkit-scrollbar {
  display: none;
}
.benefits {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/alisamento-moreno-2.webp);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.benefits h2 {
  font-size: 2.3rem;
  text-shadow: 1px 1.5px 1px #f9c9d8;
}
.benefits ul {
  color: #f6e4ec;
  padding: 0;
  margin: 0;
  text-align: left;
}
.benefits ul li {
  font-size: 20px;
}
.cta-final h2 {
  font-size: 2.3rem;
  text-shadow: 1px 1.5px 1px #f9c9d8;
}
