.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/images/alisamento-coroa.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
h2 {
  color: #5e2a3e;
  text-shadow: 1px 2px 1px #db7ca0;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 2.7rem;
}
.promo-cta {
  background: linear-gradient(to bottom, #f9c9d8, #721740);
}
.promo-cta h2 {
  font-size: 2.7rem;
}
#cta-text {
  font-size: 1.5rem;
}
.btn-sobre {
  width: fit-content;
  margin: 20px auto;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .promo-cta {
    padding: 15px;
  }
  .promo-benefits {
    padding: 15px;
  }
  h2 {
    font-size: 2rem;
  }
  #cta-text {
    font-size: 1.3rem;
  }
}
