/* Texto sobreposto */

.hero-content h1 {
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: #ffe6ef;
}

.hero-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.btn-agendar {
  background-color: #c06b88;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-agendar:hover {
  background-color: #e89cb8;
  transform: scale(1.05);
}
body {
  background: linear-gradient(
    rgba(192, 107, 136, 0.55),
    rgba(255, 218, 230, 0.3)
  );
}

.mechas {
  background: linear-gradient(
    rgba(192, 107, 136, 0.55),
    rgba(255, 218, 230, 0.3)
  );
  color: #3e3e3e;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* Hero */
.hero {
  padding-top: 120px;
  padding-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 1.65rem;
    text-shadow: 1px 2px 1px #5e2a3e;
  }
  .hero p {
    font-size: 1rem;
  }
  .mobile-menu {
    height: 100vh;
  }
  .mobile-menu a:last-child {
    right: 0;
  }
}

.mechas-content {
  max-width: 800px;
  margin: auto;
}

.mechas-content h1 {
  font-size: 2.5rem;
  color: #5e2a3e;
  margin-bottom: 1.5rem;
}

.mechas-content p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #4a4a4a;
  margin-bottom: 2rem;
}

.btn-agendar {
  background-color: #c06b88;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-agendar:hover {
  background-color: #e89cb8;
  transform: scale(1.05);
}

/* Tipos */
.mechas-info {
  text-align: center;
  padding: 4rem 1rem;
}

.mechas-info h2 {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.mechas-tipos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.tipo {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 2rem;
  width: 280px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.tipo:hover {
  transform: translateY(-5px);
}

/* Galeria */
.mechas-galeria {
  text-align: center;
  padding: 4rem 1rem;
}
.mechas-galeria h2 {
  color: #ff5e84;
  font-size: 2rem;
}
.carrossel {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 1rem;
}

.carrossel::-webkit-scrollbar {
  display: none;
}

.carrossel-item {
  min-width: 250px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  flex: 0 0 300px; /* largura fixa da div do slide */
  height: 400px;
}

.carrossel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carrossel-item img:hover {
  transform: scale(1.05);
}
.btn-sobre {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 20px auto;
}
